// ****************************************************
//
//   Panel
//   -> Fixed content box with scrollable content panel
//
// ****************************************************

.panel {
  .panel__left {
    position: fixed;
    top: 0;
    height: 100%;
  }
  .panel__right {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
  }
}
